nav {
  background: #2D2E2E;
  min-height: 100%;
  position:relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
}

a {
  background-color: #2D2E2E ;
  color: #ff9143;
  padding: 20px;
  display: flex;
}
