nav {
  background: #2D2E2E;
  height: 100%;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
}

a {
  background-color: #2D2E2E ;
  color: #ff9143;
  padding: 20px;
  display: flex;
}

.activated {
  background-color: #00a8ff;
}
