/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 ;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
#contain {
  width: 100%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 95% auto;
  background: #2D2E2E;
  height: 30px;
}

#container {
  display: grid;
  grid-template-columns: 60px auto;
  height: 100%;
}

#content {
  padding: 10px 30px;
  background: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 10px;
}

li {
  padding: 0;
}

a {
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  color: #ff9143;
}
